<div class="container bg-negro-transparente mt-0 my-md-3 rounded">
    <div class="text-white mx-4 py-2">
        <h3 class="text-center mt-3">Publicar Promoción</h3>
        <button type="button" class="btn btn-success mb-2" *ngIf="mostrarForm == false" (click)="nuevaPromocion()">Nueva Promoción</button>
    </div>
    <!--Formulario Promoción-->
    <div *ngIf="mostrarForm == true" class="container mt-4 bg-opacidad">
        <div class="heading">
             Nueva Promoción
        </div>
        <form class="form" #formPromocion="ngForm">
            <div class="input-field">
                <div class="form-group text-white">
                    <label class="lbl-img" for="fechaInicio">Ingrese la fecha inicio</label>
                    <input [(ngModel)]="fechaInicio" required  autocomplete="off" type="date"
                    name="fechaInicio" id="fechaInicio" #fechaI="ngModel"/>
                    <div class="alert alert-danger m-2" [hidden]="fechaI.valid || fechaI.pristine">
                        La fecha es obligatoria
                    </div>
                </div>
            </div>
            <div class="input-field">
                <div class="form-group text-white">
                    <label class="lbl-img" for="fechaFin">Ingrese la fecha fin</label>
                    <input [(ngModel)]="fechaFin"  required  autocomplete="off" type="date"
                    name="fechaFin" id="fechaFin" #fechaF="ngModel"/>
                    <div class="alert alert-danger m-2" [hidden]="fechaF.valid || fechaF.pristine">
                        La fecha es obligatoria
                    </div>
                </div>
                <div class="alert alert-danger m-2" *ngIf="validarFecha==true">
                    La fecha de Inicio debe ser menor a la fecha fin
                </div>
            </div>
            <div class="input-field">
                <div class="form-group text-white">
                    <label class="lbl-img">Imagen de la Promoción</label>
                    <input (change)="onFileSelected($event)" type="file" id="fileInput" accept="image/*" class="form-control-file"/> 
                </div> 
            </div>
            <div class="input-field">
                <input [(ngModel)]="promocion.descripcion" required #desc="ngModel" autocomplete="off" type="text" name="descripcion"
                    id="descripcion" />
                <label class="lbl" for="descripcion">Ingrese la descripcion</label>
                <div class="alert alert-danger m-2" [hidden]="desc.valid || desc.pristine">
                    La imagen es obligatoria
                </div>
            </div>
            
            <div class="input-field" *ngIf="accion == 'new'">
                <select [(ngModel)]="alquiler" name="alquiler" id="alquiler" class="form-select">
                    <option [ngValue]="null" disabled selected>Seleccione un Alquiler...</option>
                    <option *ngFor="let a of alquileres" [ngValue]="a">{{ a.numeroAlquiler }}</option>
                </select>
            </div>
            <div class="btn-container">
                <button *ngIf="accion === 'new'" type="submit" class="btn" [disabled]="formPromocion.invalid"
                    (click)="guardarPromocion()" (click)="postImageFileFb()">
                    Guardar y Publicar Promoción
                </button>
                <button *ngIf="accion === 'update'" type="button" class="btn" [disabled]="formPromocion.invalid"
                    >
                    Modificar Local
                </button>
            </div>
    
        </form>
    </div>
</div>
