<nav class="navbar navbar-expand-lg navbar-dark bg-morado fixed-top">
  <div class="container-fluid mx-3">
    <a class="navbar-brand" [routerLink]="home.ruta">
      <img src="../../../favicon.ico" alt="Amazone" style="max-height: 30px;">
      <span> {{home.titulo}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
      <ul *ngIf="loginService.userLoggedIn()" class="navbar-nav text-end my-2 mb-sm-0">
        <ng-container *ngIf="loginService.perfilLogged() === 'root'">
          <li class="nav-item" *ngFor="let item of rutasDuenio">
            <a class="nav-link text-white" [routerLink]="[item.ruta]">
              <i class="bi bi-{{item.icono}}"></i>
              {{item.titulo | titlecase}}
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="loginService.perfilLogged() === 'administrativo'">
          <li class="nav-item" *ngFor="let item of rutasAdministrativo">
            <a class="nav-link text-white" [routerLink]="[item.ruta]">
              <i class="bi bi-{{item.icono}}"></i>
              {{item.titulo | titlecase}}
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="loginService.perfilLogged() === 'propietario'">
          <li class="nav-item" *ngFor="let item of rutasPropietario">
            <a class="nav-link text-white" [routerLink]="[item.ruta]">
              <i class="bi bi-{{item.icono}}"></i>
              {{item.titulo | titlecase}}
            </a>
          </li>
        </ng-container>                       
      </ul>
      <ul class="navbar-nav user-margen text-end my-2 mb-sm-0">
        <a class="nav-link text-white" *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">
          <i class="bi bi-box-arrow-in-right"></i>
            Iniciar Sesion                    
        </a>
        <a class="nav-link text-white" *ngIf="loginService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
            <img src="../../../assets/img/user.png" alt="imagen usuario" style="max-height: 30px;">
            {{loginService.userLogged()}}
            <i class="bi bi-box-arrow-right mx-2"></i>
        </a>
      </ul>
    </div>
  </div>
</nav>